[alias]
	co = checkout
	cop = checkout -p
	a = add
	ap = add -p
	ci = commit
	br = branch
	di = diff
	dic = diff --cached
	st = status
	ci = commit
	br = branch
	co = checkout
	cp = cherry-pick
	di = diff
	dw = diff --word-diff
	lo = log
	logd = log --oneline --graph --decorate
	remove-merged = !git branch --merged | grep -v master | grep -v '^\\*' | xargs git br -d

[color]
  ui = True
[push]
  default = simple
[user]
	email = kamen.e.kanev@gmail.com
	name = Kamen Kanev
[rerere]
	enabled = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
